config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-reporting-plugins:
      branch: 2.2.3
      repo: https://github.com/EOSC-synergy/sqaaas-reporting-plugins
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins git:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-ultramarine-gar.sh
        container: qc.acc_cloudy-sepia-zonkey
  QC.Doc:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.smelly-cardinal-mammoth.sh
        container: qc.doc_hilly-ochre-quetzal
      github.com/EOSC-synergy/sqaaas-reporting-plugins git:
        commands:
        - /usr/bin/env sh .sqa/script.sunny-cinnamon-zebu.sh
        container: qc.doc_homely-white-mayfly
      github.com/EOSC-synergy/sqaaas-reporting-plugins markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.frumpy-firebrick-lemming.sh
        container: qc.doc_ugly-maroon-clam
  QC.Lic:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins licensee:
        commands:
        - /usr/bin/env sh .sqa/script.queasy-magnolia-paradise.sh
        container: qc.lic_lousy-bronze-salamander
  QC.Met:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.freaky-tan-earwig.sh
        container: qc.met_chummy-mustard-liger
  QC.Sec:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins bandit:
        commands:
        - /usr/bin/env sh .sqa/script.pretty-sangria-loon.sh
        container: qc.sec_fuzzy-platinum-hyrax
  QC.Sty:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins flake8:
        commands:
        - /usr/bin/env sh .sqa/script.slimy-lime-spitz.sh
        container: qc.sty_nerdy-copper-owl
      github.com/EOSC-synergy/sqaaas-reporting-plugins jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.freaky-cornflower-greyhound.sh
        container: qc.sty_whiny-taupe-dollar
  QC.Uni:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins pytest:
        commands:
        - /usr/bin/env sh .sqa/script.squeaky-taupe-crane.sh
        container: qc.uni_sleazy-viridian-audemer
  QC.Ver:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.sunny-cerise-schnauzer.sh
        container: qc.ver_trippy-orange-bee
timeout: 5400
