config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-reporting-plugins:
      branch: 2.2.3
      repo: https://github.com/EOSC-synergy/sqaaas-reporting-plugins
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/Ophidia
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins git:
        commands:
        - /usr/bin/env sh .sqa/script.paltry-ivory-zebra.sh
        container: qc.acc_chewy-platinum-audemer
  QC.Doc:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.queasy-tangerine-maltese.sh
        container: qc.doc_chewy-vermilion-zorse
      github.com/EOSC-synergy/sqaaas-reporting-plugins git:
        commands:
        - /usr/bin/env sh .sqa/script.cranky-magnolia-seal.sh
        container: qc.doc_lumpy-magnolia-avocet
      github.com/EOSC-synergy/sqaaas-reporting-plugins markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.scaly-amethyst-baboon.sh
        container: qc.doc_greasy-myrtle-dane
  QC.Lic:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins licensee:
        commands:
        - /usr/bin/env sh .sqa/script.lovely-ivory-insect.sh
        container: qc.lic_skimpy-ivory-cougar
  QC.Met:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.skanky-teal-affenpinscher.sh
        container: qc.met_stealthy-denim-mongrel
  QC.Sec:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins bandit:
        commands:
        - /usr/bin/env sh .sqa/script.hazy-smalt-chicken.sh
        container: qc.sec_freaky-azure-dolphin
  QC.Sty:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins flake8:
        commands:
        - /usr/bin/env sh .sqa/script.tasty-razzmatazz-cassowary.sh
        container: qc.sty_skimpy-smalt-warthog
      github.com/EOSC-synergy/sqaaas-reporting-plugins jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.muggy-sangria-hornet.sh
        container: qc.sty_gloppy-taupe-urchin
  QC.Uni:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins pytest:
        commands:
        - /usr/bin/env sh .sqa/script.skimpy-ochre-opossum.sh
        container: qc.uni_hazy-razzmatazz-mastiff
  QC.Ver:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.flabby-bronze-neanderthal.sh
        container: qc.ver_gummy-sapphire-squid
timeout: 5400
