config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-reporting-plugins:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-reporting-plugins
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins git:
        commands:
        - /usr/bin/env sh .sqa/script.trippy-fuchsia-devil.sh
        container: qc.acc_scaly-purple-badger
  QC.Doc:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.homely-carmine-bullfrog.sh
        container: qc.doc_nippy-blue-neanderthal
      github.com/EOSC-synergy/sqaaas-reporting-plugins git:
        commands:
        - /usr/bin/env sh .sqa/script.muzzy-tangerine-urchin.sh
        container: qc.doc_squeaky-copper-crab
      github.com/EOSC-synergy/sqaaas-reporting-plugins markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.stinky-orchid-rottweiler.sh
        container: qc.doc_baggy-cream-mist
  QC.Lic:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins licensee:
        commands:
        - /usr/bin/env sh .sqa/script.queasy-cinnabar-tetra.sh
        container: qc.lic_blurry-amaranth-eel
  QC.Met:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.pretty-peach-moorhen.sh
        container: qc.met_scanty-corn-gopher
  QC.Sec:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins bandit:
        commands:
        - /usr/bin/env sh .sqa/script.gloppy-smalt-raccoon.sh
        container: qc.sec_clammy-jade-rhinoceros
  QC.Sty:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins flake8:
        commands:
        - /usr/bin/env sh .sqa/script.thirsty-linen-dragon.sh
        container: qc.sty_baggy-razzmatazz-hedgehog
      github.com/EOSC-synergy/sqaaas-reporting-plugins jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.slaphappy-emerald-dachshund.sh
        container: qc.sty_squirrely-emerald-scorpion
  QC.Uni:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins pytest:
        commands:
        - /usr/bin/env sh .sqa/script.fuzzy-asparagus-frise.sh
        container: qc.uni_squirrely-gold-jaguar
  QC.Ver:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.beady-wisteria-gecko.sh
        container: qc.ver_snippy-cornflower-sloth
timeout: 5400
