config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-reporting-plugins:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-reporting-plugins
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins git:
        commands:
        - /usr/bin/env sh .sqa/script.gimpy-orchid-dragonfly.sh
        container: qc.acc_wimpy-rose-woodlouse
  QC.Doc:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.squirrely-ivory-albatross.sh
        container: qc.doc_chewy-buff-camel
      github.com/EOSC-synergy/sqaaas-reporting-plugins git:
        commands:
        - /usr/bin/env sh .sqa/script.foggy-cobalt-discus.sh
        container: qc.doc_freaky-ecru-stoat
      github.com/EOSC-synergy/sqaaas-reporting-plugins markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.muggy-firebrick-coral.sh
        container: qc.doc_cranky-pumpkin-javanese
  QC.Lic:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins licensee:
        commands:
        - /usr/bin/env sh .sqa/script.smelly-cinnamon-akita.sh
        container: qc.lic_lumpy-cardinal-barnacle
  QC.Met:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.whiny-smalt-barnacle.sh
        container: qc.met_sleepy-tomato-rattlesnake
  QC.Sec:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins bandit:
        commands:
        - /usr/bin/env sh .sqa/script.leaky-russet-wrasse.sh
        container: qc.sec_geeky-razzmatazz-bracke
  QC.Sty:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins flake8:
        commands:
        - /usr/bin/env sh .sqa/script.skimpy-teal-anteater.sh
        container: qc.sty_flabby-chestnut-grouse
      github.com/EOSC-synergy/sqaaas-reporting-plugins jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.thirsty-orange-chamois.sh
        container: qc.sty_frumpy-mauve-snake
  QC.Uni:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins pytest:
        commands:
        - /usr/bin/env sh .sqa/script.blurry-teal-molly.sh
        container: qc.uni_slaphappy-copper-cat
  QC.Ver:
    repos:
      github.com/EOSC-synergy/sqaaas-reporting-plugins get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.lovely-bronze-ferret.sh
        container: qc.ver_wimpy-scarlet-falcon
timeout: 5400
